@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&family=Rosario:wght@700&display=swap');

$ff-primary: 'Rosario', sans-serif;
$ff-secondary: 'Crimson Text', sans-serif;
$font-size: 21px;
$line-height: 1.5;
$clr-primary: blue;
