html {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $ff-secondary;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-primary;
  text-transform: capitalize;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
