.navbar {
  height: 4rem;
  width: 100%;

  .nav-center {
    width: 90vw;
    height: inherit;
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 100px;
      height: 40px;
      background-color: $clr-black;
    }

    .nav-links {
      display: none;

      @include md {
        display: block;
      }

      ul {
        display: flex;

        li {
          margin: 0 1rem;
          a {
            color: $clr-black;
            transition: all $transition;
            padding: 0.5rem 0;

            &:hover {
              color: $clr-primary;
              box-shadow: 0px 2px $clr-primary;
            }
          }
        }
      }
    }

    .toggle-btn {
      background-color: transparent;
      border-color: transparent;
      cursor: pointer;
      font-size: 1.5rem;
      display: flex;

      @include md {
        display: none;
      }
    }
  }
}
